.navbar {
  font-family: 'Aclonica';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #318CE7;
  font-size: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.navtab {
  float: left;
}

.navtab a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navtab a:hover{
  background-color: #111;
}

body{
  background-color: #FF00BF;
}
.RDI
{
  margin-top: 70px;
  height: 20%;
  width: 10%;
}
.RDI_Gallery{
  display: flex;
  justify-content: center;
}